.title{
    margin: 20px 0;
    color: whitesmoke;
}

.title-underline{
    width: 250px;
    border: 3px solid red;
    margin: 0px auto 10px auto;
}

#contact{

    padding: 40px;
    background-color: rgb(204, 201, 201);
}

#contact .form-control{

    border-radius: 0!important;
    font-size: 20px;
}

#contact button{

    background-color: #353531;
    font-size: 24px;
    color: #F15025;
    margin-bottom: 20px;
}

#contact button:hover{
    background-color: #CED0CE;
}
